<h1>Template Driven</h1>
<form (ngSubmit)="onSubmit(f)" #f="ngForm"><!-- No action is required since it is an SPA and thus ngSubmit event is used -->
<!-- The local variable #f can be used to access the html of form tag but to get full controlled form ngForm directive is used -->
  <div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text"
             class="form-control"
             id="username"
             [ngModel]="user.username"
             name="username"
             required="required"><!-- ngModel directive to register input for form. [ngModel] is used to bind with data. ngModel is used to tell angular that this field is a control -->
             <!-- The HTML name attrubute along witih ngModel helps us register the input -->
             <!-- one way property binding : [ngModel]="user.username" -->
    </div>
    <div class="form-group">
      <label for="email">E-Mail</label>
      <input type="text"
             class="form-control"
             id="email"
             [ngModel]="user.email"
             name="email"
             required="required"
             pattern="[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?">
             <!-- one way property binding : [ngModel]="user.username" helps us to set the default value for input -->
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password"
           class="form-control"
           id="password"
           [ngModel]="user.password"
           name="password"
           required="required">
  </div>
  <div class="radio">
    <label>
    </label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
