<h1>Attribues directives</h1>
<h2>ngClass / ngStyle</h2>
<!-- ngClass directive with multiple classes -->
<div [ngClass]="{border: false, background: true}"></div>
<div [ngClass]="{border: true, background: false}"></div>
<!-- shortcut for single class with class property and dot operator -->
<div [class.border]="true"></div>
<!-- ngStyle must have property names in single quotes -->
<div [ngStyle]="{'background-color': 'red'}"></div>
<h2>Custom Attribute Directive</h2>
<div dirHighlight [highlightColor]="'red'" [defaultColor]="'blue'">Some text</div>
<!-- Shortcut for having a keyword to merge directive and property in one -->
<div  [dirHighlight]="'red'" [defaultColor]="'blue'">Some text</div>
<hr>
<h1>Structural directives</h1>
<h2>*ngIf</h2>
<div *ngIf="switch">Conditional text</div>
<button (click)="onSwitch()">Switch</button>
<hr>
<h2>*ngFor</h2>
<ul>
	<!-- <li *ngFor="let item of items; let i = index">{{item}} - Index: {{i}}</li> -->
	<li *ngFor="let item of items">{{item}} - Index: {{i}}</li>
</ul>
<hr>
<h2>ngSwitch</h2>
<div [ngSwitch]="value">
	<p *ngSwitchCase="10">10</p>
	<p *ngSwitchCase="100">100</p>
	<p *ngSwitchDefault>Default</p>
</div>