<h1>Data Driven</h1>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()"><!-- property binding to tell angular which form to use -->
    <div formGroupName="userData"> <!-- formGroupName directive to group and link to group data -->
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                   class="form-control"
                   id="username"
                   formControlName="username"><!-- formControlName defines which formcontrol to be used from ts file -->
        </div>
        <div class="form-group">
            <label for="email">E-Mail</label>
            <input type="text"
                   class="form-control"
                   id="email"
                   formControlName="email">
            <div *ngIf="!myForm.controls['userData'].controls['email'].valid">Email id is not valid</div>    
            <!-- Angular 2 controls['email'] replaced find() -->   
        </div>
    </div>

    <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
               class="form-control"
               id="password"
               formControlName="password">
    </div>
    <div class="radio">
        <label>

        </label>
    </div>
    <div>
        <h3>Hobbies</h3>
        <div class="form-group" *ngFor="let g of genders">
            <input type="radio"
                   formControlName="gender"
                   [value]="g">
            {{g}}       
        </div>
    </div>
    <button type="button" class="btn btn-default">Add Hobby</button>
    <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">Submit</button>
    <!-- instead of using local variable the class from ts with type FormGroup is used -->
</form>
